form{
	background-color: gray;
	padding: 10px;
}
.display-4{
	font-size: 48px;
}footer{
	text-align: center;
	font-weight: bolder;
	line-height: 2px;
	margin-bottom: 5px;

}
footer a:visited{
	color: inherit;
}
